NODE_ENV="development"
PORT=5000

DATABASE_URL="postgresql://neondb_owner:
REDIS_URL=redis://localhost:6379


JWT_ACCESS_SECRET=yourAccessTokenSecret
JWT_ACCESS_EXPIRES_IN=1day

JWT_REFRESH_SECRET=yourRefreshTokenSecret
JWT_REFRESH_EXPIRES_IN=7day

FRONTEND_URL=http://localhost:3000

EMAIL_SENDER_SMTP_USER=yourEmail@gmail.com
EMAIL_SENDER_SMTP_PASSWORD=yourEmailPassword
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=yourEmail@gmail.com

PLATFORM_COMMISSION_RATE= 5

STRIPE_SECRET_KEY=yourStripeSecretKey
STRIPE_WEBHOOK_SECRET=yourStripeWebhookSecret


ADMIN_EMAIL=email
ADMIN_PASSWORD=password